

body {
	background-color: black;
	color: white;
}

#bottom {
	text-align: center;
}

h2 {
	font-family: "Impact";
}

h3 {
	font-family: "Georgia";
}

canvas {
	border-radius: 5px;
	width: 900px;
	height: 450px;
	background-color: #5E595E;
	position: relative;
	margin: 25px;
}

#canvas-holder {
	border-radius: 5px;
	width: 950px;
	height: 500px;
	background-image:url("images/starfield.jpg");
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#title {
	width: 364px;
	height: 114px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
